<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=LiveFeedWebService;User ID=sa;password=sa;" providerName="System.Data.SqlClient" /></connectionStrings>
<appSettings>
    <add key="TickDate" value="21072014" />
   
</appSettings>
</configuration>
